################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Recognition/.vs/FingerprintRecognition/v15/Server/sqlite3
