################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Recognition/.vs/FingerprintRecognition/v15/Server/sqlite3
/Recognition/bin
/Recognition/.vs/FingerprintRecognition/v15
/Recognition/FR.Core/obj
/Recognition/FR.FeatureDisplay/obj/Release
/Recognition/FR.FeatureDisplay/obj/Debug
/Recognition/FR.FMExperimenter/obj
/Recognition/FR.FVCExperiments/obj
/Recognition/FR.Jiang2000/obj/Debug
/Recognition/FR.Jiang2000/obj/Release
/Recognition/FR.Medina2011/obj/Debug
/Recognition/FR.Medina2012/obj/Debug
/Recognition/FR.Parziale2004/obj/Debug
/Recognition/FR.Medina2012/obj/Release
/Recognition/FR.Parziale2004/obj/Release
/Recognition/FR.Qi2005/obj/Debug
/Recognition/FR.Qi2005/obj/Release
/Recognition/FR.Ratha1995/obj/Debug
/Recognition/FR.Ratha1995/obj/Release
/Recognition/FR.Sherlock1994/obj/Debug
/Recognition/FR.Sherlock1994/obj/Release
/Recognition/FR.Tico2003/obj/Debug
/Recognition/FR.Tico2003/obj/Release
/Recognition/SHullDelaunayTriangulation/obj/Release
/Recognition/SHullDelaunayTriangulation/obj/Debug
/Recognition/SHullDelaunayTriangulation/bin/Debug
/Recognition/SHullDelaunayTriangulation/bin/Release
/Recognition/ROC/obj
/Recognition/ROC/bin/Debug
/Recognition/ImageProcessingTools/obj
/Recognition/ImageProcessingTools/bin/Debug
/Recognition/FR.Medina2011/obj/Release
/Algortims/Fingerprints.Medina2012/obj/Debug/netcoreapp2.0
/Algortims/Fingerprints.Medina2012/obj
/Fingerprints/bin/Debug/netcoreapp2.0
/Fingerprints/bin/Release/netcoreapp2.0
